﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="compuMedical.Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cpTitle" runat="server">
    Home Page
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphead" runat="server">
    <%--$.ajax({
                url: 'Service.asmx/addCol2Tbl',
                method: 'POST',
                contentType: 'application/json;charset-utf-8',
                data: JSON.stringify({ tblName: tblNAME, colName: ColName, colData: str }),
                dataType: 'json',
                success: function (data) {
                    //alert("added Succefully!");
                    $('.myAlert.success').css('display', 'block');
                    $('#succMsg').html('added successfully to the table');
                    fillTblFields();
                },
                error: function (err) {
                    //alert("error in adding Col! Sorry");
                    $('.myAlert.failed').css('display', 'block');
                    $('#failMsg').html('failed to add new column to the table, please try again');
                }
            });--%>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cpContent" runat="server">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello, Fady George Invoice App</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <a href="Invoice.aspx">Invoice From Here</a>>

        </div>
    </div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cpScript" runat="server">
</asp:Content>
